name: Deploy Backend

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build and push image
      run: |
        docker build -f backend_rust.Dockerfile -t archeo/backend:latest .
        docker push archeo/backend:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
    - name: Redeploy Blue/Green
      run: sudo /opt/archeosensei/redeploy.sh
