name: Deploy Backend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Build Docker image locally
      run: |
        docker build -f Rust-backend/backend_rust.Dockerfile -t archeo/backend:latest .

    - name: Run blue/green deployment
      run: sudo /opt/archeosensei/redeploy.sh
